/**

General Styling

**/

* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 450px;
    height: 450px;
}

span {
    font-size: 34px;
}

em {
    font-family: cursive;
    margin-left: 5px;
}

a {
    box-shadow: inset 0 0 0 0 white;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}
a:hover {
    box-shadow: inset 250px 0 0 0 black;
    color: white;
}

div {
    justify-content: center;
}

.title {
    text-align: center;
    border-bottom: 2px solid rgb(165, 161, 161);
    padding: 28px 16px 16px 16px;
    font-size: 52px;
    font-weight: lighter;
}

/**

Landing page

**/

.subheading {
    padding-top: 32px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 24px;
}

#color {
    color: rgb(228, 163, 41);
}

.container {
    display: flex;
    background-color: rgba(220, 220, 220, 0.702);
    padding: 50px 15px 40px 15px;
    gap: 40px;
}

.food__container {
    display: flex;
    justify-items: center;
    padding-top: 15px;
}

.food__name {
    text-align: center;
    color: white;
    background-color: rgb(228, 163, 41);
    padding: 15px;
    border: 2px solid black;
}

/**

Recipe Pages

**/

.food__img {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    margin-top: 30px;
    width: 300px;
    height: 300px;
}

.center {
    text-align: center;
}

.recipe__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 600px;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 10px solid black;

}

.recipe__styling {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid rgb(0, 0, 0);
    padding: 10px;
}

.background__color {
    background-color: rgb(250, 188, 74);
    padding: 30px;
    color: black;
}