/**

General Styling

**/

* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

span {
    font-size: 34px;
}

em {
    font-family: cursive;
    margin-left: 5px;
}

a {
    box-shadow: inset 0 0 0 0 white;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}
a:hover {
    box-shadow: inset 250px 0 0 0 black;
    color: white;
}

div {
    justify-content: center;
}

.title {
    text-align: center;
    border-bottom: 2px solid rgb(165, 161, 161);
    padding: 28px 16px 16px 16px;
    font-size: 52px;
    font-weight: lighter;
}

/**

Landing page

**/

.subheading {
    padding-top: 32px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 24px;
}

#color {
    color: rgb(228, 163, 41);
}

.container {
    display: flex;
    background-color: rgba(247, 244, 244, 0.516);
    padding: 50px 15px 40px 15px;
    gap: 40px;
}

.food__container {
    display: flex;
    justify-items: center;
    padding-top: 15px;
}

.food__name {
    text-align: center;
    color: white;
    background-color: rgb(228, 163, 41);
    padding: 15px;
    border: 2px solid black;
}

/**

Recipe Pages

**/